@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

body {
  font-family: 'Roboto Condensed', Arial, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  width: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 3rem 0;
}

.App-link {
  color: #61dafb;
}

